USE [master]
GO
/****** Object:  Database [FairManagementDB]    Script Date: 5/26/2015 8:55:35 PM ******/
CREATE DATABASE [FairManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FairManagementDB', FILENAME = N'i:\SetupFiles\SQLServer\MSSQL11.SQLEXPRESS\MSSQL\DATA\FairManagementDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FairManagementDB_log', FILENAME = N'i:\SetupFiles\SQLServer\MSSQL11.SQLEXPRESS\MSSQL\DATA\FairManagementDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FairManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FairManagementDB]
GO
/****** Object:  Table [dbo].[tbl_VisitingZone]    Script Date: 5/26/2015 8:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_VisitingZone](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZID] [int] NOT NULL,
	[VID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_VisitingZone] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Visitor]    Script Date: 5/26/2015 8:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Visitor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[CNumber] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Visitor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Zone]    Script Date: 5/26/2015 8:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Zone](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZoneName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Zone] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_tbl_Visitor]    Script Date: 5/26/2015 8:55:35 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tbl_Visitor] ON [dbo].[tbl_Visitor]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_tbl_Zone]    Script Date: 5/26/2015 8:55:35 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tbl_Zone] ON [dbo].[tbl_Zone]
(
	[ZoneName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_VisitingZone]  WITH CHECK ADD  CONSTRAINT [FK_tbl_VisitingZone_PK_tbl_Visitor] FOREIGN KEY([VID])
REFERENCES [dbo].[tbl_Visitor] ([ID])
GO
ALTER TABLE [dbo].[tbl_VisitingZone] CHECK CONSTRAINT [FK_tbl_VisitingZone_PK_tbl_Visitor]
GO
ALTER TABLE [dbo].[tbl_VisitingZone]  WITH CHECK ADD  CONSTRAINT [FK_tbl_VisitingZone_PK_tbl_Zone] FOREIGN KEY([ZID])
REFERENCES [dbo].[tbl_Zone] ([ID])
GO
ALTER TABLE [dbo].[tbl_VisitingZone] CHECK CONSTRAINT [FK_tbl_VisitingZone_PK_tbl_Zone]
GO
ALTER TABLE [dbo].[tbl_Zone]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Zone_tbl_Zone1] FOREIGN KEY([ID])
REFERENCES [dbo].[tbl_Zone] ([ID])
GO
ALTER TABLE [dbo].[tbl_Zone] CHECK CONSTRAINT [FK_tbl_Zone_tbl_Zone1]
GO
USE [master]
GO
